/*TINY MCE*/
body#tinymce {padding: 8px; background: #fff; min-height: 100vh;}

/*Base*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
*{margin: 0; padding: 0; box-sizing: border-box;}
html{font-size: 62.5%; -webkit-text-size-adjust: 100%; text-rendering: optimizeLegibility;}
html[lang="en"]{opacity:0;}
html.wf-active,html.wf-inactive{opacity: 1; transition: opacity .4s ease-out;}
body{color: #000; background: #fff; font-family: 'Source Sans Pro', sans-serif; font-size: 1.6rem; font-weight: 300; overflow-x: hidden;}
p{font-size: 1.6rem; margin: 0 0 16px 0; font-weight: 300; line-height: 1.6;}
p:last-of-type{margin: 0;}
a{position: relative; color: #000;}
a::before {content: ''; position: absolute; left: 0; right: 0; top: 100%; height: 1px; background: #000; max-width: 0; transition: 150ms ease-in-out;}
a:hover::before,
a:focus::before {max-width: 100%;}
ul{font-size: 1.6rem; padding: 0 0 22px 30px; font-weight: 300; line-height: 1.6; list-style: outside disc; overflow: hidden;}
ol{font-size: 1.6rem; padding: 0 0 22px 30px; font-weight:  300; line-height: 1.6; overflow: hidden;}
li{position: relative;}
h1{font-size: calc(2.2rem + 1vw); margin: 0 0 10px; line-height: 140%; font-weight: 600; display: block; width: 100%;}
h2{font-size: calc(2.0rem + 1vw); margin: 0 0 10px; line-height: 140%; font-weight: 600; display: block;  width: 100%;}
h3{font-size: calc(1.8rem + .8vw); margin: 0 0 10px; font-weight: 300; width: 100%;}
blockquote{width: 80%; max-width:700px; margin: 50px auto; font-style: italic; color: #555; padding: 1.2em 1.2em 1.2em 75px; border-left: 8px solid #ef4538; line-height: 1.6; position: relative; background: #eeeeee;}
blockquote::before{font-family:Arial; content:"\201C"; color:#ef4538; font-size:4em; position: absolute; left: 10px; top:-10px;}
img{max-width: 100%; height: auto; vertical-align: bottom; border: none;}
/*.event_track{border:1px solid red}*/
.sup {text-transform: uppercase; opacity: 0.65; font-size: 1.5rem; font-weight: 700;}
h1 a {text-decoration: none; color: inherit;}
*:focus {outline: none;}

/* Buttons */
.buttons {display: flex; align-items: center; justify-content: flex-start; flex-flow: row wrap; width: 100%;}
.buttons.center {justify-content: center;}
.buttons.right {justify-content: flex-end;}
.button + .button {margin: 0 0 0 1em;}
.button {position: relative; display: inline-flex; align-items: center; margin: 0; padding: 1em 1em; border: 1px solid #000; color: #000; line-height: 1; transition: 150ms ease; text-decoration: none; user-select: none; z-index: 1;}
.button::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; max-width: 0; background: #000; transition: 150ms ease-in-out; z-index: -1;}
.button:hover::before, .button:focus::before {max-width: 100%;}
.button i + span,
.button span + i {margin-left: 0.5em;}
.button:hover, .button:focus {color: #fff;}
.button:active { box-shadow: 0 2px 4px 0 rgba(50,50,93,.1); transform: translateY(1px);}
button.button, input[type="submit"].button {cursor: pointer; font-family: inherit; font-size: inherit; line-height: inherit; color: #fff; border: none; outline: none; -webkit-appearance: none; -moz-appearance: none;}

    @media (max-width: 768px) {
    .button,
    .button + .button {margin: 0 1em 1em 0;}
    }

/*Read More*/
.more{height: 0; overflow: hidden;}
.more button{padding:4px 8px; border-radius:3px; border: 1px solid rgba(0,0,0,.8); font-size: 1.2rem; text-transform: uppercase; background:#f1f1f1; color: rgba(0,0,0,.8); cursor:pointer; outline:none; -webkit-appearance: none;}

/*Cutom RichTextRTE Styles*/
.rte_img_right{float:right; margin:0 0 10px 10px;}
.rte_img_left{float:left; margin:0 10px 10px 0;}
.rte_img_center{margin:10px auto; text-align: center; display: block;}

/*Universal Image Hover*/
.magic {overflow: hidden; transition: 250ms ease;}
.magic img {transition: 250ms ease;}
.magic:hover {opacity: .85;}
.magic:hover img {transform: scale(1.08);}

/*Collapser*/
.collapse_trigger{background: rgba(0,0,0,.6); color: #fff; padding: 4px 8px; border-radius: 2px; display: inline-block;}
.collapse_hide{height: 0; overflow: hidden; opacity: 0; padding: 0; border: 0; margin: 0;}

/*Scroll to Top*/
.scrollToTop{cursor: pointer; padding: 2px 1px 1px; font-size: 28px; color: #000; text-decoration: none; position: fixed; bottom: 10px; right: 20px; display: none; background: rgba(255,255,255,.8); border-radius: 20px;}
.scrollToTop:hover{color: rgba(0,0,0,.8); bottom: 12px;}
.scrollToTop:active{bottom: 8px}

/*Responsive iFrames (Youtube vids)*/
.responsiveIframe {position: relative;    padding-bottom: 56.25%; padding-top: 25px;    height: 0; clear: both;}
.responsiveIframe iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/*Modal*/
.modal{display: none; position: fixed; width: 40%; min-width: 280px; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; background: #fff; padding: 10px; border-radius: 6px; box-shadow: 2px 2px 6px rgba(0,0,0,.3);}
.modal .modal_close{color: rgba(0,0,0,.84); position: absolute; top: 0; right: 0; padding: 5px; cursor: pointer; line-height: 100%; z-index: 100;}

/*Header*/
.headerWrap{width: 100%; position: absolute; top: 0; z-index: 10;}
.header{width: 100%; padding: 1em 3em; position: relative; display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center;}
.header .logo{width: 50%; max-width: 260px; position: absolute; left: 1em; top: 1em; user-select: none; z-index: 9999999;}
.header .logo a{background: rgba(255,255,255,0.5); padding: 0.5em; display: block; text-decoration: none; color: #fff; font-weight: 600; font-size: 3rem; transition: 150ms ease-in-out;}
.header .logo a::before {display: none;}
.header .logo a span {font-size: 1.3rem; font-weight: 400; text-transform: uppercase;}
.header .logo a:hover {background: rgba(255,255,255,1);}
.header .logo.active a {color: #000;}
.header .logo img{width: 100%;}
.header .mobile_icons{}
.header .mobile_icons a{color: #4e4e4e; display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; font-weight: 600; font-size: 2rem; color: #000;}
.header .mobile_icons a::before {display: none;}
.header .mobile_icons .icon{color: #4e4e4e; outline:none; border:none; background: none; font-size: 2rem; width: 50px; height: 100%; cursor: pointer; display: flex; justify-content: center; align-items: center;}
.header .search_wrap{position: absolute; right: 10px; border: 1px solid #e4e4e4; top: 10px; border-radius: 3px;}
.header .search button{position: absolute; background: none; height: 100%; cursor: pointer; outline: 0; border: 0; color: #222; top: 50%; right: 0; padding: 0 10px; line-height: 100%; font-size: 1.2rem; transform: translateY(-50%);}
.header .search input{-webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 2px; border: 0; background: #fbfbfb; outline: 0; width: 100%; font-size: 1.4rem; padding: 8px 30px 8px 8px; color: #4e4e4e; font-style: italic;}

    @media (max-width: 900px) {
    .header{height: 72px; display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; margin: 0 auto;}
    .header .logo{max-width: 160px; max-height:70px; padding: 0 0 0 10px;}
    .header .search{display: none;}
    .header .mobile_icons{display: flex; flex-flow: row nowrap; height: 100%;}
    }

/* Menu Trigger */
.mobile_icons {position: absolute; top: 1em; right: 1em; padding: .5em 0.75em; background: rgba(255,255,255,0.5); cursor: pointer; z-index: 9999999; text-transform: uppercase;}
.mobile_icons:hover {background: rgba(255,255,255,1);}
#menu-trigger {margin-left: 0.75em; position: relative; display: inline-block; width: 30px; height: 30px;}
#menu-trigger::before {display: none;}
#menu-trigger .bar {position: absolute; width: 30px; height: 2px; background: #000; transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), all 0.5s cubic-bezier(0.86, 0, 0.07, 1), width 150ms ease;}
#menu-trigger .bar:nth-of-type(1) {top: 6px; left: 0; transform-origin: top left;}
#menu-trigger .bar:nth-of-type(2) {top: 15px; right: 0; width: 26px;}
#menu-trigger .bar:nth-of-type(3) {top: 24px; right: 0; transform-origin: top right;}
#menu-trigger:hover .bar:nth-of-type(1) {width: 24px;}
#menu-trigger:hover .bar:nth-of-type(2) {width: 30px;}
#menu-trigger:hover .bar:nth-of-type(3) {width: 24px;}

.navicon.open #menu-trigger .bar:nth-of-type(1) {top: 5px; left: 5px; transform: rotate(45deg);}
.navicon.open #menu-trigger .bar:nth-of-type(2) {transform: translateX(36px); opacity: 0;}
.navicon.open #menu-trigger .bar:nth-of-type(3) {top: 5px; right: 5px; transform: rotate(-45deg);}
.navicon.open #menu-trigger:hover .bar:nth-of-type(1) {width: 30px;}
.navicon.open #menu-trigger:hover .bar:nth-of-type(3) {width: 30px;}

/*Nav*/
.nav-container .drop_trigger{position: relative; display: flex; flex-flow: row wrap;}
.nav-container .drop_trigger > a{position: relative;}
.nav-container .drop_trigger.open{font-weight: 600;}
.nav-container .drop_trigger.open > a::before{max-width: 100%;}
.nav-container .drop_trigger .drop_menu{width: 100%; max-height: 0px; overflow: hidden; z-index: 9999; position: relative; transition: max-height .15s ease-in-out; border-left: 2px solid #ccc;}
.nav-container .drop_trigger .drop_menu a{font-size: 1.5rem; font-weight: 300; display: inline-block;}
.nav-container .drop_trigger .drop_menu a::before {display: none;}
.nav-container .drop_trigger .drop_menu .item {margin-left: 0.75em;}
.nav-container .drop_trigger.open > .drop_menu{max-height: 999px;}

/*Mobile Nav*/
.mobile_nav{display:none; user-select: none; position: fixed; background: #fff; top: 1em; right: 1em; z-index: 9999998; overflow-y: auto; transition: transform 500ms ease; overflow: hidden; max-width: 270px;}
.mobile_nav.open{transform: translateY(0);}
.mobile_nav .nav-container {display:flex; justify-content: center; flex-flow: column wrap; width: 100%; height: 100%; padding: 3em 2em 4em;}
.mobile_nav .item a{font-size: 2rem; margin: 0.25em 0; display: block; color: #000; text-decoration: none; transition: all 0.2s ease 0s;}
.mobile_nav .item a::before {display: none;}
.mobile_nav .item a:hover,
.mobile_nav .item a:focus {font-weight: 600;}
.mobile_nav .item:hover{}
.mobile_nav .mobile_closer{display: none;}

.mobile_nav .social {display: flex; align-items: center; position: absolute; bottom: 0; left: 0; width: 100%; background: #f1f2f3; padding: 0.75em 2em;}
.mobile_nav .social a {display: block; margin: 0 0.5em; font-size: 1.8rem; transition: 250ms ease-in-out;}
.mobile_nav .social a:hover {opacity: 1;}

.mobile_nav .item {opacity: 0; animation: fade-in-up 500ms ease-in-out forwards; animation-delay: 250ms;}
.mobile_nav .item:nth-of-type(1) {animation-delay: 250ms;}
.mobile_nav .item:nth-of-type(2) {animation-delay: 280ms;}
.mobile_nav .item:nth-of-type(3) {animation-delay: 310ms;}
.mobile_nav .item:nth-of-type(4) {animation-delay: 340ms;}
.mobile_nav .item:nth-of-type(5) {animation-delay: 370ms;}
.mobile_nav .item:nth-of-type(6) {animation-delay: 400ms;}
.mobile_nav .item:nth-of-type(7) {animation-delay: 430ms;}
.mobile_nav .item:nth-of-type(8) {animation-delay: 460ms;}
.mobile_nav .item:nth-of-type(9) {animation-delay: 490ms;}
.mobile_nav .item:nth-of-type(10) {animation-delay: 520ms;}

/*Searchbox*/
.searchbox{user-select: none; border: 1px solid #e4e4e4; border-radius: 3px; width: 100%; overflow: hidden; max-width: 300px; position: relative; margin: 0 0 10px;}
.searchbox button{position: absolute; background: none; height: 100%; cursor: pointer; outline: 0; border: 0; color: #222; top: 50%; right: 0; padding: 0 10px; line-height: 100%; font-size: 1.2rem; transform: translateY(-50%);}
.searchbox input{border-radius: 2px; border: 0; background: #fbfbfb; outline: 0; width: 100%; font-size: 1.4rem; padding: 8px 30px 8px 8px; color: #4e4e4e; font-style: italic;}

/*Search*/
.search{display: flex; position: relative; width: 100%; height: 100%; user-select: none;}
.search .search_label{position: absolute !important; left: 0 !important; bottom: -1px !important; z-index: -1 !important; opacity: 0;}
.search .autocomplete-items{position: absolute; border: 1px solid #e8e8e8; z-index: 99; top: 100%; left: 0; width:100%; font-size: 1.2rem;}
.search .autocomplete-items .heading{padding: 6px 10px; line-height: 110%; background: #e8e8e8; color: rgba(0,0,0,.8); text-transform: uppercase; border-bottom: 1px solid #d4d4d4; font-weight: 500;}
.search .autocomplete-items a{padding: 6px 10px; line-height: 110%; cursor: pointer; background: #fff; color:#2b2b2b; border-bottom: 1px solid #d4d4d4; display: block; text-decoration: none;}
.search .autocomplete-items a:hover{background: #f1f1f1;}
.search .autocomplete-items a.autocomplete-active{background: #ef4438; color: #ffffff;}

/* Slideshow */
.slideshow{position: relative; user-select: none; width: 100vw; height: 100vh; overflow: hidden; margin: 0 auto; z-index: 1;}
.slideshow .slide{position: relative; user-select: none; width: 100vw; height: 100vh; position: relative; background-size: cover; background-position: center; outline: none;}
.slideshow .slide::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.35);}
.slideshow .info{user-select: none; width: 100%; text-align: center; position: absolute; top: 50%; padding: 3em; z-index: 200; transform: translateY(-50%);}
.slideshow .title{color: #fff; font-size: 2.5rem; font-weight: 400; line-height: 1; text-shadow: 1px 1px 12px #222;}
.slideshow .title span {display: block;}
.slideshow .title span:nth-of-type(2) {font-size: 5rem; font-weight: 500; margin: 0.15em 0;}
.slideshow .project-snippet {background: #fff; position: absolute; bottom: 1em; right: 2em; opacity: 0.5; transition: 250ms ease-in-out;}
.slideshow .project-snippet:hover {opacity: 1;}
.slideshow .project-snippet a {display: block; text-decoration: none; color: inherit; padding: 0.5em 1em; font-weight: 500;}
.slideshow .project-snippet a i {margin-left: 0.5em;}
.slick-dots > li:only-child {display:none;}

    @media (max-width: 900px) {
    .slideshow {border-radius: 0;}
    .slideshow .info{width: 100%; padding: 10px 30px 10px 10px;}
    .slideshow .info_right{text-align: left;}
    .slideshow .title{font-size: 3rem; font-weight: 500;}
    .slideshow .subtext{font-size: 2rem;}
    .slideshow .button{display: none;}
    }
    @media (max-width: 600px) {
    .slideshow .prev {opacity: .9; padding: 8px 14px; font-size: 1.8rem;}
    .slideshow .next {opacity: .9; padding: 8px 14px; font-size: 1.8rem;}
    .slideshow .title{font-size: 1.4rem; font-weight: 500;}
    .slideshow .subtext{font-size: 1.0rem;}
    .slideshow .slick-dots { position: absolute; bottom: auto; top: 0; right: 0; left: 0; margin: 0 auto; padding: 4px;}
    }

/*Mobile Slider*/
.mobile_slider{display: none;}
.mobile_slider.slick-initialized{display: block;}
.mobile_slider .slide_nav{user-select: none; opacity: .8; position: absolute; cursor: pointer; top: 50%; transform: translateY(-50%); background: #03adee; z-index: 100; border: none; padding: 10px; color: #fff; font-size: 20px; transition: all 0.2s cubic-bezier(.25,.8,.25,1);}
.mobile_slider .prev{left: 0; border-radius: 0 6px 6px 0;}
.mobile_slider .next{right: 0; border-radius: 6px 0 0 6px;}
.mobile_slider:hover .prev,.mobile_slider:hover .next{opacity: 1;}
.mobile_slider .prev:focus,.mobile_slider .next:focus{opacity: 1; outline: none;}

/*Main Content*/
.content{width: 100%; max-width: 1200px; min-height: 80vh; margin: 0 auto; padding:0 10px; position: relative; overflow: hidden;}

    @media (max-width: 640px) {
    .content img{float: none !important; margin: 0 auto !important;}
    }

.content_columns{display: flex; flex-flow:row wrap; justify-content: space-between;}
.content_columns .main{padding: 0 10px 0 0; max-width: 800px;}
.content_columns .sidebar {padding: 0 0 0 10px; width: 300px;}
.content_columns .sidebar .section{margin: 0 0 30px 0; background: #fff; overflow: hidden; border-radius: 3px; font-size: 1.6rem;}
.content_columns .sidebar .section .heading{display: block; color:#fff; text-transform: uppercase; font-size: 1.5rem; padding:10px; background: #ef4538;}
.content_columns .sidebar .section .group{padding:15px; font-size: 1.4rem}

    @media (max-width: 900px) {
    .content_columns{display: block;}
    .content_columns .main{padding: 0;}
    .content_columns .sidebar {padding: 0; width: 100%;}
    }

/*Intro Text*/
.intro_text{width:100%; max-width:1200px; margin:6em auto;}
.intro_text .container {display: flex; align-items: center;}
.intro_text .image {width: 100%; max-width: 400px; margin-right: 3em;}
.intro_text .buttons {margin: 1em 0;}

.intro_text .container > div {opacity: 0;}
.intro_text.active .details {animation: fade-in-left 500ms ease-in forwards;}
.intro_text.active .image {animation: fade-in-right 500ms ease-in forwards;}

    @media (max-width: 768px) {
    .intro_text{margin: 80px auto 0;}
    }

/*Features*/
.features {overflow: hidden; margin: 30px -10px; display: flex; flex-flow: row wrap;}
.features .item {position: relative; overflow: hidden; margin: 10px; width: calc(33.333% - 20px);}
.features .item a{text-decoration: none; display: block; color: inherit;}
.features .item .image img{width: 100%; height: auto;}
.features .item .bar{width: 100%; padding: 10px 0; text-align: center;}
.features .item .title {font-size: 2rem; margin: 0; text-transform: uppercase; font-weight: 400;}
.features .item .description {font-size: 1.3rem; text-transform: uppercase; font-weight: 400;}
.features .item:hover .image{opacity: .9;}

    @media (max-width: 768px) {
    .features{margin: 20px -10px;}
    .features .item .bar{position: relative; bottom: auto; padding: 10px; background: #f8f8f8; color: #434343; display: flex; flex-flow: column; justify-content: center;}
    .features .item .title {font-size: 1.6rem; font-weight: 500; margin: 0 0 4px 0;}
    .features .item .description {font-size: 1.4rem;}
    }
    @media (max-width: 640px) {
    .features{margin: 10px auto;}
    .features .item {width: 100%; margin: 0 0 8px 0;}
    .features .item a{display: flex; color: #434343;}
    .features .item .image{width: 25%;}
    .features .item .bar{width: 75%;}
    }

/* Projects */
.projects {max-width: 1400px; margin: 9em auto;}
.projects h1,
.projects .sup {text-align: center;}
.projects .container {margin: 2em 0 0; display: flex; align-items: center; justify-content: center; flex-flow: row wrap;}
.projects .buttons {margin: 2em 0 0;}
.projects .item {position: relative; opacity: 0; display: block; text-decoration: none; color: inherit; max-width: calc(33.333% - 1em); margin: 0.5em; width: 100%; transition: 350ms ease-in-out;}
.projects .container.active .item {animation: fade-in-up 500ms ease-in-out forwards;}
.projects .item .image {position: relative; z-index: 1;}
.projects .item .image img {width: 100%;}
.projects .item .image::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.45); opacity: 0; transition: 250ms ease-in-out;}
.projects .item .info {position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-flow: column wrap; color: #fff; text-shadow: 1px 1px 12px #222; opacity: 0; padding: 0.25em 0.5em; transition: inherit; z-index: 2;}
.projects .item h3 {font-size: 2rem; font-weight: 600; margin: 0; text-align: center; opacity: 0; transform: translateY(15px); transition: inherit;}
.projects .item i {margin-top: 1em;}

.projects .item:hover .info {opacity: 1;}
.projects .item:hover h3 {opacity: 1; transform: translateY(0);}
.projects .item:hover i {animation: move-right 1.5s ease-in-out infinite;}
.projects .item:hover .image::before {opacity: 1;}

.projects .container.active .item:nth-of-type(1) {animation-delay: 0ms;}
.projects .container.active .item:nth-of-type(2) {animation-delay: 100ms;}
.projects .container.active .item:nth-of-type(3) {animation-delay: 200ms;}
.projects .container.active .item:nth-of-type(4) {animation-delay: 300ms;}
.projects .container.active .item:nth-of-type(5) {animation-delay: 400ms;}
.projects .container.active .item:nth-of-type(6) {animation-delay: 500ms;}
.projects .container.active .item:nth-of-type(7) {animation-delay: 600ms;}
.projects .container.active .item:nth-of-type(8) {animation-delay: 700ms;}
.projects .container.active .item:nth-of-type(9) {animation-delay: 800ms;}

/* Team */
.team {margin: 9em auto 3em; overflow-x: hidden;}
.team .container {}
.team h1,
.team .sup {text-align: center;}
.team .group {position: relative; display: flex; justify-content: center; margin: 1em auto;}
.team .group::before {content: ''; position: absolute; left: -100%; right: -100%; top: 110px; height: 1px; background: #000; z-index: -1;}
.team .item {margin: 0 3em; text-align: center; z-index: 2;}
.team .item a {text-decoration: none; color: inherit;}
.team .item .image {position: relative; max-width: 175px; margin: 1em auto; border: 1px solid #000; border-radius: 50%; overflow: hidden;}
.team .item .image::before {content: ''; position: absolute; top: 0; left: -75%; width: 50%; height: 100%; display: block; transform: skewX(-25deg); background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);}
.team .item:hover .image::before {animation: shine 1s forwards;}
.team .item .name {margin: 0.25em 0; font-size: 2.6rem;}
.team .item .title {text-transform: uppercase; opacity: 0.65; font-size: 1.3rem; font-weight: 700;}
    /*animations*/
.team .group .item {opacity: 0;}
.team .group.active .item {animation: fade-in-up 1s ease-in-out forwards;}
.team .group::before {max-width: 0; transition: 2s ease-in;}
.team .group.active::before {max-width: 300%;}
.team .group .item:nth-of-type(2) {animation-delay: 250ms;}
.team .group .item:nth-of-type(3) {animation-delay: 500ms;}

/* Large Gallery */
.large_gallery .group {display: flex; align-items: center; flex-flow: row wrap;}
.large_gallery .group .item {flex-grow: 0; flex-shrink: 0; width: calc(25% - 10px); margin: 5px; overflow: hidden; transition: 200ms ease; position: relative;}
.large_gallery .group .item img {width: 100%; transition: 200ms ease;}
.large_gallery .group .item:hover img {transform: scale(1.08); opacity: .85;}
.large_gallery .group .item a{text-decoration: none;}
.large_gallery .group .item.gallery_video a:before{content: '\f04b'; font-family: "Font Awesome 5 Pro"; font-weight: 900; font-style: normal; text-decoration: inherit; color: #fff; text-shadow: 0 2px 0px rgba(0,0,0,.5); font-size: 4rem; z-index: 100; position: absolute; width: calc(100% - 20px); padding: 10px; height: calc(100% - 20px); display: flex; align-items: flex-end; justify-content: flex-end;}

/* Alt Rows */
.alt_rows{}
.alt_rows .item{margin: 0 0 40px 0; overflow: hidden;}
.alt_rows .item .image{float: left; width: 400px;}
.alt_rows .item .image img{width: 100%; height: auto; display: block;}
.alt_rows .item .text{float: right; width: calc(100% - 440px);}
.alt_rows .item:nth-of-type(even) .image{float: right;}
.alt_rows .item:nth-of-type(even) .text{float: left;}

    @media (max-width: 900px) {
    .alt_rows .item .image{float: none; width: 100%; max-width: 500px; margin: 0 auto;}
    .alt_rows .item .text{float: none; width: 100%; padding: 10px;}
    .alt_rows .item:nth-of-type(even) .image{float: none;}
    .alt_rows .item:nth-of-type(even) .text{float: none;}
    }

/*Search Results*/
.simplesearch-paging {margin: 0 0 10px 0;}
.simplesearch-paging .simplesearch-result-pages{margin: 0 5px 0 0;}
.simplesearch-results-list {padding: 10px 0;}
.simplesearch-results-list .simplesearch-result{display: flex; flex-flow: row wrap; background: #fff; position: relative; padding: 10px; border: 1px solid #ccc; margin: 0 0 10px 0;}
.simplesearch-results-list .simplesearch-result .type{color: #ccc; font-size: 12px; position: absolute; top: 0; right: 0; padding: 4px; text-align: right; text-transform: uppercase;}
.simplesearch-results-list .simplesearch-result .image{width: 130px;}
.simplesearch-results-list .simplesearch-result .image .caption{display: none;}
.simplesearch-results-list .simplesearch-result .info{width: calc(100% - 140px); padding: 0 0 0 10px;}
.simplesearch-results-list .simplesearch-result .title{font-size: 15px;}
.simplesearch-results-list .simplesearch-result .date{font-size: 12px; color: rgba(0,0,0,.5);}
.simplesearch-results-list .simplesearch-result p{margin: 0; color: rgba(0,0,0,.7);}
.simplesearch-results-list .simplesearch-highlight {background: rgb(255,194,0); padding: 0 4px;}
    @media (max-width: 640px) {
        .simplesearch-results-list .simplesearch-result .type{display: none;}
        .simplesearch-results-list .simplesearch-result .image{width: 100%; margin: 0 0 5px 0;}
        .simplesearch-results-list .simplesearch-result .info{width: 100%;}
    }

/*Instafeed*/
.instagram_widget{margin: 3em auto; width: 100%; max-width: 1400px;}
.instagram_widget h1,
.instagram_widget .sup {text-align: center;}
.instagram_widget .insta {margin: 2em -0.5em 0;}
    @media (max-width: 768px) {
    .instagram_widget{margin: 80px auto 0;}
    }

/* Blog: Layout */
.blog_layout{display: flex; flex-flow:row wrap; justify-content: space-between; width: 100%; max-width: 1200px; margin: 0 auto;}

#blog_list .blog_layout .main{padding: 0 10px 0 0; max-width: 800px;}
#blog_list .blog_layout .sidebar {padding: 0 0 0 10px; width: 300px;}
#blog_list .blog_layout .sidebar .section{margin: 0 0 30px 0; background: #fff; overflow: hidden; border-radius: 3px; font-size: 1.6rem;}
#blog_list .blog_layout .sidebar .section .heading{display: block; color:#fff; text-transform: uppercase; font-size: 1.5rem; padding:10px; background: #ef4538;}
#blog_list .blog_layout .sidebar .section .group{padding:15px; font-size: 1.4rem}
#blog_list .blog_layout .blog_bar{display:none}
#blog_list .post_cards{display:none}

    @media (max-width: 900px) {
    #blog_list .blog_layout .main{padding: 0; max-width: none;}
    #blog_list .blog_layout .sidebar {padding: 0; width: 100%;}
    }

#blog_card .blog_layout .main{width:100%;}
#blog_card .blog_layout .blog_bar{width: 100%; font-size: 1.6rem; display: flex; justify-content: space-between; background: #fff; align-items: center; margin:20px 0; padding:20px;}
#blog_card .blog_layout .blog_bar .section .heading{display: none;}
#blog_card .blog_layout .blog_bar .section .group{font-size: 1.4rem}
#blog_card .blog_layout .blog_bar .select {position: relative;}
#blog_card .blog_layout .blog_bar .select select{border-radius: 2px; border: 1px solid #ddd; background: #fbfbfb; outline: 0; width: 100%; font-size: 1.4rem; padding: 8px 30px 8px 8px; color: #4e4e4e; cursor: pointer; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
#blog_card .blog_layout .blog_bar .select::after { content: '\f0d7'; font-family: "Font Awesome 5 Pro"; position: absolute; background: none; height: 100%; cursor: pointer; outline: 0; border: 0; color: #5b5b5b; top: 50%; right: 0; padding: 0 10px; line-height: 100%; font-size: 1.2rem; transform: translateY(-50%); display: flex; align-items: center; pointer-events: none;olor: rgba(78,78,78,.8); cursor: pointer; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
#blog_card .blog_layout .sidebar {display: none;}
#blog_card .post_list{display:none}

/* Blog: Post List View */
.post_list .item{margin: 0 0 15px 0; background: #fff; padding:15px; display: flex; flex-flow:row wrap;}
.post_list .item a{text-decoration: none; display:block; color:inherit;}
.post_list .item .cover{width: 280px; overflow:hidden;}
.post_list .item .cover img{width: 100%; transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
.post_list .item .cover img:hover{transform: scale(1.08);}
.post_list .item .caption{display: none;}
.post_list .item .cover + .info {padding: 0 0 0 15px;}
.post_list .item .info{width: calc(100% - 280px);}
.post_list .item .title{font-size: 1.8rem; margin: 0 0 5px; font-weight: 500;}
.post_list .item .summary{color: rgba(0,0,0,.6); font-size: 1.3rem; line-height: 1.6;}
.post_list .post_meta{margin: 0 0 5px 0; font-size: 1.0rem; color: #4e4e4e; display: flex; flex-flow: row wrap; text-transform: uppercase;}
.post_list .post_meta > div{margin: 0 10px 0 0;}
.post_list .post_meta i{color: #ababab; margin: 0 4px 0 0; font-size: 1.2rem;}
.post_list .item .post_meta .tags a{color: #4e4e4e; text-decoration: none; display: inline-block; margin: 0 4px 0 0; text-transform: uppercase;}
.post_list .item .post_meta .tags a:hover{text-decoration: underline;}

    @media (max-width: 640px) {
    .post_list .item{display: block;}
    .post_list .item .cover {width: 100%; margin: 0 0 10px 0;}
    .post_list .item .info{width: 100%; padding: 0;}
    }

/* Blog: Post Card View */
.post_cards{overflow: hidden; display: flex; flex-flow: row wrap; margin:0 -10px}
.post_cards .item{margin:0 10px 20px 10px; background: #fff; border-radius:3px; width: calc(33.333% - 20px);  transition: all .2s ease-in-out;}
.post_cards .item .cover{margin: 0 auto; overflow:hidden;}
.post_cards .item .cover img{width:100%; transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
.post_cards .item .cover img:hover{transform: scale(1.08);}
.post_cards .item .cover .caption{display: none;}
.post_cards .item .info{padding:0 15px;}
.post_cards .item .title{font-size: 1.8rem; padding: 15px 0 0;}
.post_cards .item .title a{text-decoration:none;}
.post_cards .item .title a:hover{text-decoration:underline;}
.post_cards .item .post_meta{margin: 5px 0; font-size: 1.0rem; color: #4e4e4e; display: flex; flex-flow: row wrap; text-transform: uppercase;}
.post_cards .item .post_meta > div{margin: 0 10px 0 0;}
.post_cards .item .post_meta i{color: #ababab; margin: 0 4px 0 0; font-size: 1.2rem;}
.post_cards .item .post_meta .tags a{color: #4e4e4e; text-decoration: none; display: inline-block; margin: 0 4px 0 0; text-transform: uppercase;}
.post_cards .item .post_meta .tags a:hover{text-decoration: underline;}
.post_cards .item .summary{padding: 15px 0; color: rgba(0,0,0,.6); font-size: 1.3rem; border-top: #eee 1px solid; line-height: 1.6; margin: 15px 0 0;}
.post_cards .item .more{font-size:12px;}
    @media (max-width: 768px) {
        .post_cards .item{width: calc(50% - 20px);}
    }
    @media (max-width: 650px) {
        .post_cards .item{width: calc(100% - 20px);}
    }

/* Blog: Post Pagination*/
.pagination{padding: 1em 0 0 0;}
.pagination li{display: inline-block; list-style: none; padding: 0 .5em 0 0;}
.pagination li a{text-decoration: none; color: #00489d;}
.pagination li a.active{font-weight: 600; border-bottom: #f00 3px solid; padding: 0 1px;}

/* Blog: Post List Widget */
.post_list_widget{margin: 120px auto 0; overflow: hidden; display: flex; flex-flow: row wrap;}
.post_list_widget h2{width: 100%; margin: 0 10px 10px;}
.post_list_widget a{text-decoration: none; display:block; color:inherit;}
.post_list_widget .item{margin:0 10px 20px 10px; background: #fff; border-radius:3px; width: calc(33.333% - 20px);  transition: all .2s ease-in-out;}
.post_list_widget .item .cover{margin: 0 auto; overflow:hidden;}
.post_list_widget .item .cover img{width:100%; transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
.post_list_widget .item .cover img:hover{transform: scale(1.08);}
.post_list_widget .item .cover .caption{display: none;}
.post_list_widget .item .info{padding:0 15px;}
.post_list_widget .item .title{font-size: 1.8rem; padding: 15px 0 0;}
.post_list_widget .item .title a{text-decoration:none;}
.post_list_widget .item .title a:hover{text-decoration:underline;}
.post_list_widget .item .post_meta{margin: 5px 0; font-size: 1.0rem; color: #4e4e4e; display: flex; flex-flow: row wrap; text-transform: uppercase;}
.post_list_widget .item .post_meta > div{margin: 0 10px 0 0;}
.post_list_widget .item .post_meta i{color: #ababab; margin: 0 4px 0 0; font-size: 1.2rem;}
.post_list_widget .item .post_meta .tags a{color: #4e4e4e; text-decoration: none; display: inline-block; margin: 0 4px 0 0; text-transform: uppercase;}
.post_list_widget .item .post_meta .tags a:hover{text-decoration: underline;}
.post_list_widget .item .summary{padding: 15px 0; color: rgba(0,0,0,.6); font-size: 1.3rem; border-top: #eee 1px solid; line-height: 1.6; margin: 15px 0 0;}
.post_list_widget .item .more{font-size:12px;}
    @media (max-width: 768px) {
        .post_list_widget .item{width: calc(50% - 20px);}
    }
    @media (max-width: 650px) {
        .post_list_widget .item{width: calc(100% - 20px);}
    }

/* Blog: Sidebar Search*/
.sidebar_search{user-select: none; position: relative; overflow: hidden;}
.sidebar_search button{position: absolute; background: none; height: 100%; cursor: pointer; outline: 0; border: 0; color: #222; top: 50%; right: 0; padding: 0 10px; line-height: 100%; font-size: 1.2rem; transform: translateY(-50%);}
.sidebar_search input{border-radius: 2px; border: 1px solid #ddd; background: #fbfbfb; outline: 0; width: 100%; font-size: 1.4rem; padding: 8px 30px 8px 8px; color: #4e4e4e; font-style: italic;}

/* Blog: Popular Posts*/
.sidebar_popular_posts{}
.sidebar_popular_posts .item{margin: 0 0 10px 0; padding: 0 0 10px 0; border-bottom: 1px solid #ccc; transition: padding .2s ease;}
.sidebar_popular_posts .item:hover{padding-left: 5px;}
.sidebar_popular_posts .item:last-child{border: 0; margin: 0; padding-bottom: 0;}
.sidebar_popular_posts .item a{display: flex; text-decoration: none; color: #4e4e4e;}
.sidebar_popular_posts .item .cover{margin: 0 10px 0 0; min-width: 60px;}
.sidebar_popular_posts .item .cover img{width: 100%; height: auto; display: block;}
.sidebar_popular_posts .item .info{line-height: 100%;}
.sidebar_popular_posts .item .title{font-size: 1.3rem; font-weight: 500; margin: 0 0 4px 0;}
.sidebar_popular_posts .item .post_meta{margin: 5px 0; font-size: 1.0rem; color: #4e4e4e; display: flex; flex-flow: row wrap; text-transform: uppercase;}
.sidebar_popular_posts .item .post_meta > div{margin: 0 10px 0 0;}
.sidebar_popular_posts .item .post_meta i{color: #ababab; margin: 0 4px 0 0; font-size: 1.2rem;}

/* Blog: Categories/Tags*/
.sidebar_post_categories a{color: #4e4e4e; text-decoration: none; border: #ececec 1px solid; padding: 2px 4px; border-radius: 2px; display: inline-block; margin: 0 4px 4px 0; background: #f8f8f8; text-transform: uppercase; font-size: 1.2rem;}
.sidebar_post_categories a:hover{background: #fff;}
.sidebar_post_categories i{color: #4e4e4e; margin: 0 4px 0 0;}

/* Blog: Post "Back" Link*/
.feed_return{margin: 0 0 10px 0; display: none}

/* Blog: Post Intro */
.post_intro .post_meta{margin: 0 0 10px 0; font-size: .6875em; color: #4e4e4e; display: flex; flex-flow: row wrap; text-transform: uppercase;}
.post_intro .post_meta > div{margin: 0 10px 0 0;}
.post_intro .post_meta i{color: #ababab; margin: 0 4px 0 0; font-size: 1.25em;}
.post_intro .post_meta .tags a{color: #4e4e4e; text-decoration: none; border: #ececec 1px solid; padding: 2px 4px; border-radius: 2px; display: inline-block; margin: 0 4px 4px 0; background: #f8f8f8; text-transform: uppercase;}
.post_intro .post_meta .tags a:hover{background: #fff;}

/* Blog: Post Detail */
.post_detail{padding: 0 0 80px 0;}
.post_detail > .cover{margin: 0 0 20px 0;}
.post_detail > .cover img{width: 100%; height: auto; display: block;}
.post_detail > .cover .caption{font-size: 1.2rem; color: #afafaf; font-style: italic; padding: 4px; text-align: right;}

/* Blog: Next Post */
.next_post{position: relative;}
.next_post:before{content: ""; width: 80px; height: 1px; background: #ddd; display: block; margin: 40px auto;}
.next_post .heading{text-transform: uppercase; margin: 0 0 2px 0;}
.next_post .item{margin: 0 0 20px 0; padding: 0 0 20px 0; border-bottom: 1px solid #ccc; display: flex;}
.next_post .item:last-child{border: 0;}
.next_post .item a{text-decoration: none;}
.next_post .item .cover{width: 200px; margin: 0 10px 0 0; min-width: 180px;  overflow:hidden;}
.next_post .item .cover img{width: 100%; transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
.next_post .item .cover img:hover{transform: scale(1.08);}
.next_post .item .cover .caption{display: none;}
.next_post .item .info{}
.next_post .item .title{font-size: 1.8rem; margin: 0 0 5px; font-weight: 500;}
.next_post .item .title a{text-decoration: none;}
.next_post .item .summary{font-size: 1.4rem; font-weight: 300; line-height: 1.468em; margin: 0 0 5px;}
.next_post .item .post_meta{margin: 0 0 10px 0; font-size: 1.2rem; color: #4e4e4e; display: flex; flex-flow: row nowrap;}
.next_post .item .post_meta .date{margin: 0 10px 0 0;}
.next_post .item .post_meta .author{margin: 0 10px 0 0;}
.next_post .item .post_meta .read_time{margin: 0 10px 0 0;}
.next_post .item .post_meta .views{margin: 0 10px 0 0;}
.next_post .item .post_meta i{color: #ababab; margin: 0 4px 0 0; font-size: 1.25rem;}
.next_post .item .post_meta .tags a{color: #4e4e4e; text-decoration: none; display: inline-block; margin: 0 4px 0 0; text-transform: uppercase;}
.next_post .item .post_meta .tags a:hover{text-decoration: underline;}
    @media (max-width: 640px) {
    .next_post .item{display: block;}
    .next_post .item .cover {margin: 0 0 10px 0;}
    }

/*Formstack Colors*/
.fsBody .fsForm input[type=submit]{background: #ef4438 !important; -webkit-appearance: none; transition: 250ms ease !important;}
.fsBody .fsForm input[type=submit]:hover{background: #E22012 !important;}
.fsBody .fsForm input:focus,.fsBody .fsForm textarea:focus,.fsBody .fsForm select:focus{border: #ef4438 1px solid!important; outline: none; box-shadow: 0 0 20px rgba(0,0,0,.1) inset;}

/*Formstack*/
.fsBody{overflow: hidden; max-width: 600px;}
.fsBody .fsForm{background: none !important; width: 100%; /*max-width: 500px;*/ margin: 0 !important;}
.fsBody .fsForm input{font-family: inherit !important; outline: none; border-radius: 3px; border: #c6c6c6 1px solid!important;background: #fff!important;font-size: 14px !important;padding: 5px 8px !important; width: 100%; max-width: none !important;}
.fsBody .fsForm input[type=radio]{width: auto;}
.fsBody .fsForm input[type=checkbox]{width: auto;}
.fsBody .fsForm label.fsOptionLabel.horizontal {padding: 5px 0 0 10px; cursor: pointer; font-size: 13px !important;}
.fsBody .fsForm label.fsOptionLabel.vertical {padding: 5px 0 0 10px; display: block; cursor: pointer; font-size: 13px !important;}
.fsBody .fsForm label.fsOptionLabel input {margin: 2px 3px 0 0; display: inline-block; border-radius: 2px; vertical-align: top !important; }
.fsBody .fsForm select{-webkit-appearance: none; cursor: pointer; font-family: inherit !important; box-sizing: border-box; border: #c6c6c6 1px solid!important;background: #fff!important;font-size: 14px !important;padding: 5px 8px !important; width: 100%; max-width: none !important;}
.fsBody .fsForm textarea{font-family: inherit !important; border-radius: 3px; box-sizing: border-box; border: #c6c6c6 1px solid!important;background: #fff!important;font-size: 14px !important;padding: 5px 8px !important; width: 100%; max-width: none !important;}
.fsBody .fsForm .fsLabel{text-transform: uppercase !important; font-size: 1.3rem !important; line-height: auto!important; letter-spacing: 1px !important; color: rgba(0,0,0,.7) !important; font-weight: 400 !important; display: block !important;}
.fsBody .fsForm .fsOptionLabel {font-family: inherit !important; font-size: inherit !important;}
.fsBody .fsForm .fsRequiredMarker {padding-left: 2px !important; color: crimson !important; font-size: 10px !important; margin-top: -5px;}
.fsBody .fsForm .fsSection {margin: 0 0 40px 0;}
.fsBody .fsForm .fsSectionHeader {margin: 0 !important; padding: 0 !important;}
.fsBody .fsForm .fsSupporting{font-weight: 400 !important; color: rgba(0,0,0,.4) !important; font-size: 1.2rem;}
.fsBody .fsForm .fsPagination {text-align: left !important; margin: 20px 0 0 !important;}
.fsBody .fsForm .fsSubmit{padding: 0 !important;}
.fsBody .fsForm .fsCell {padding-top: 0 !important;}
.fsBody .fsForm .fsCell img {display: inline-block; vertical-align: middle; margin: 0 10px 0 0;}
.fsBody .fsForm .fsRowBody {padding: 0 !important; margin: 0 0 20px 0;}
.fsBody .fsForm .fsRow {margin: 0 0 5px 0;}
.fsBody .fsForm fieldset {border: none !important;}
.fsBody .fsForm .fsValidationError{background: none; }
.fsBody .fsForm .fsValidationError input{color: red !important; border: red 1px solid!important;}
.fsBody .fsForm .fsValidationError .fsLabel {padding-left: 0 !important; background-image: none !important;}
.fsBody .fsForm .fsError {margin: 0 auto !important; border-radius: 0 !important; width: 100%; max-width: 500px; background-color: rgba(255, 0, 0, 0.5) !important;}
.fsBody .fsForm input[type=submit]{border: none!important;cursor: pointer!important;color: #fff !important;padding: 15px 20px!important; width: 100%; max-width: 200px!important; border-radius: 3px !important;}
.fsBody .fsForm span{display: inline-block; vertical-align: middle;}
.fsBody .fsForm .fieldset-content select.fsField {display: inline-block !important; margin: 0 5px 0 0 !important; width: 65px !important;}
.fsBody .fsForm .fsSubFieldGroup {display: flex; margin: 20px 0 5px 0 !important; flex-flow: row wrap;}
.fsBody .fsForm .fsSubField.fsFieldCity {width: 33.333%;}
.fsBody .fsForm .fsSubField.fsFieldState {width: calc(33.333% - 20px); margin: 0 10px;}
.fsBody .fsForm .fsSubField.fsFieldZip {width: 33.333%;}
.fsBody .fsForm .fsCreditCardLogo {display: inline-block; margin: 3px 0;}
.fsBody .fsForm .fsSubField.fsNameFirst {margin: 0 10px 0 0;}
.fsBody .fsForm .fsLabel, .fsBody .fsForm .fsOptionLabel, .fsBody .fsForm .fsMatrix th, .fsBody .fsForm .fsMatrixLabel {font-family: inherit !important;}

    @media (max-width: 640px) {
    .fsBody .fsForm .fsSubField.fsFieldCity {width: 100%; margin: 0 0 5px;}
    .fsBody .fsForm .fsSubField.fsFieldState {width: calc(50% - 10px); margin: 0 10px 0 0;}
    .fsBody .fsForm .fsSubField.fsFieldZip {width: 50%;}
    }

/*Footer*/
.footer_wrap{width: 100%; border-top: 1px solid #000; margin: 20px 0 0 0;}
.footer{width: 100%; max-width: 1400px; margin: 0 auto; padding: 2em 1em; display: flex; align-items: flex-start; justify-content: space-between; font-size: 1.6rem; overflow: hidden;}
.footer a {text-decoration: none; color: inherit;}
.footer img {filter: grayscale(1); margin-left: 0.5em;}
.footer_wrap .copy {background: #000; color: #fff;}
.footer_wrap .copy .contents {display: flex; align-items: center; justify-content: space-between; max-width: 1400px; margin: 0 auto; padding: 1em;}
.footer_wrap .ewd{width: 200px;}
.footer_wrap .ewd img{width: 100%;}

@keyframes fade-in-up {
    0% {opacity: 0; transform: translateY(25px);}
    100% {opacity: 1; transform: translateY(0);}
}

@keyframes fade-in-right {
    0% {opacity: 0; transform: translateX(-50px);}
    100% {opacity: 1; transform: translateX(0);}
}

@keyframes fade-in-left {
    0% {opacity: 0; transform: translateX(50px);}
    100% {opacity: 1; transform: translateX(0);}
}

@keyframes move-right {
  0% {transform: translateX(-20px); opacity: 0;}
  50% {transform: translateX(0); opacity: 1;}
  100% {transform: translateX(20px); opacity: 0;}
}

@keyframes shine{
    to {left: 125%}
}
